<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}Laura & Dan's Love/Science Wedding Spectacularrrr{% endblock title %}</title>
    <link rel="stylesheet" type="text/css" href="/media/css/fonts.css">
    <link rel="shortcut icon" href="/media/img/favicon.png">
    {% block head %}
    {% endblock head %}
  </head>
  <body>
    {% block body %}
    {% endblock body %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.0/jquery-ui.min.js"></script>
    {% block scripts %}
    {% endblock scripts%}
  </body>
</html>
