{% extends "base.html" %}

{% block head %}
<style>
  body {
    background-color: #EE3C96;
  }
  .center {
    margin: 0 auto;
    text-align: center;
  }
  .splash {
    margin: 20px auto 6px auto;
    width: 896px;
    height: 700px;
    background: url("/media/FunkyGraduation.png");
    border: 4px solid black;
    cursor: pointer;
  }
</style>
{% endblock head %}

{% block body %}
<div class="center">
  <div class="splash" title="Laura Burkhauser & Daniel Bruckner's wedding will be held 17 August 2013 at the Lawrence Hall of Science in Berkeley, California"></div>
  <a href="/welcome">Continue to the site...</a>
</div>
{% endblock body %}

{% block scripts %}
<script type="text/javascript">
(function ($) {
  var sp = $('.splash');

  function resizeSplash() {
    var w = $(window).width(),
        h = $(window).height(),
        ratio = 896.0 / 700,
        width = (w/h > ratio ? h * ratio : w) - 60 * ratio;
    sp.css('background-size', width)
      .css('width', width)
      .css('height', width / ratio);
  }

  function splitBG(el) {
    var w = parseInt($(el).css('background-size') || $(el).width());
    if (w < 32) {
      window.location = "/welcome"
      return;
    }
    $(el).css('background-size', (w/2) + 'px');
  }

  resizeSplash();
  $(sp).click(function () { splitBG(this); });

  $(window).resize(resizeSplash);

})(jQuery);
</script>
{% endblock scripts %}
