{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="/media/css/welcome.css">
{% endblock head %}


{% block body %}
<div class="container">
  <div class="splash">
    <table class="menu">
      <tr><th>Laura & Dan</th></tr>
      {% for menuitem in menuitems %}
      <tr>
      <td>
        <div class="box-title">
          <a href="{{ menuitem.target }}">{{ menuitem.title }}</a>
        </div>
        <div class="box-content"></div>
      </td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
<div class="about"><a href="/about">ABOUT</a></div>
{% endblock body %}

{% block scripts %}
<script type="text/javascript" src="/media/js/welcome.js"></script>
{% endblock scripts%}

